@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Admin Section</h1>

</div>


@using CooperativeFuneralFundInc.Models.UserManagement

@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> signInManager
@if (signInManager.IsSignedIn(User))
{
    // signed-in user - shows the menu
    <li class="nav-item">

        <a class="nav-link btn btn-outline-secondary text-white" asp-area="" asp-controller="TaskManagements" asp-action="Create">Create Task</a>
    </li>
}
else { 
    <div>
        To begin please sign in
    </div>
}


