@using CooperativeFuneralFundInc.Models.UserManagement
@model CooperativeFuneralFundInc.Models.UserManagement.ResetPasswordViewModel
@{
}

<h4>Reset Password For @ViewBag.NameOfUser</h4>

<div class=" text-center card">
    <div class=" text-center card-body">
        <div class="d-flex flex-column align-items-center text-center">
            <form method="post" asp-action="ResetPassword">
                <div class="col-md-8 form-group">
                    <label asp-for="password" class="control-label">Password:</label>
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="col-md-8 form-group">
                    <label asp-for="confirmPassword" class="control-label">Confirm Password:</label>
                    <input asp-for="confirmPassword" class="form-control" />
                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="offset-2 col-sm-4">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

