@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
</div>


@using CooperativeFuneralFundInc.Models.UserManagement

@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> signInManager
@if (signInManager.IsSignedIn(User))
{
    // signed-in user - Log Out button and username


    <a class="btn btn-secondary" asp-area="" asp-controller="TaskManagements" asp-action="Create">Create Task</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="SupplyRequests" asp-action="Create">Supply Request</a>
    
}
else
{
    <div>
        To begin please sign in
    </div>
}


